node_modules
/client/node_modules
/client/src/components/Defunct
.env
alexandria-v2-89a5a-30e14e932b3d.json
fakedata.js
/TvMazeApiSampleData
weeklyCronJob.js
tvMazeApiTest.js
/logs
wList.json
reportVarMailTemplate.html
updatedWishlist.json
updatedWishlist.jtxt
/defunct_code_snippets