
body.span{
    background-color: white;
    margin:0;
    padding:0;
    min-width:360px;
    min-height: 760px;
}

#testmodetoggle {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: darkslategray;
    color: black;
    box-shadow: none;
    text-shadow: none;
    font-size: small;
    border-radius: 0px;
    border: 1px solid black;
}

.testMode_ON {
    background-color: green !important;
    color: black !important;
}

/*NAV******************************************************NAV*/


.MobileNavBar {
    background-color: #414141;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    min-width: 360px;
    position: absolute;  
}

nav > a{

    background-color: #414141;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #E0E0E0;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 400;
}
nav > a::first-letter{
color: #a1dad0;
    }

nav > a:hover{
color: #08FFC8;
transition: 1s;
}





@media only screen and (max-width: 768px) {
    .closeNavButton {
        position: fixed;
        top: 1%;
        right: 4%;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
        text-align: center;
        width: fit-content;
        text-shadow: none;
        background-color: #0000009c;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    
    .showNavButton {
        background-image: url(img/icon-pack.png);
        background-repeat: no-repeat;
        /* background-position-x: center; */
        background-position: -3% 102%;
        background-size: 360%;
        width: 75px;
        border: 9px solid black;
        background-color: transparent;
        height: 75px;
        border-radius: 15px;
        box-shadow: none;
        position: fixed;
        top: 0%;
        right: 3%;
        margin: 1px 2px;
        font-size: medium;
        text-align: center;
        padding: inherit;
        background-color: #00f8ff;
        z-index: 1;
    }
    .desktopNavBar {
        background-color: #4b4b4b;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-width: 360px;
        position: fixed;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-image: url(img/banner.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .desktopNavBar > a {
        border: 1px solid white;
        padding: 20px 50px;
        font-size: xx-large;
        width: 53%;
        /* justify-self: center; */
        text-align: center;
        background: linear-gradient(
            45deg
            , black, #00000073);
        }
}

@media only screen and (min-width: 768px) {
    .desktopNavBar {
        width: 100%;
        position: absolute;
        top: 0;
        display: flex !important;
        justify-content: space-evenly;
        background-color: #414141;
    }

    .showNavButton, .closeNavButton {
        display: none
    }

    .desktopNavBar > a {
        font-size: x-large;
    }
}



/*BANNER******************************************************BANNER*/

.banner{
    background-image: url("img/banner.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    width: auto;
    height:330px;
    padding-top: 10px;
}


.banner > h1{
    color:white;
    font-family: 'Bungee Outline', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    padding: 5px;
    background-color: rgba(50,224,196, 0.7);
    margin-top:140px;
}

.banner > h1 > a{
    text-decoration: none;
    color: white;
    }

#pre_loader {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    display: block;
    top: 0px;
    background-color: white;
}

#pre_loader > img{
    display:flex;
    margin: 30px 0px 30px 0px;
    z-index: 0;
}

#pre_loader > div{
    width:100vw;
}

#pre_loader > p{
    font-family: 'Bungee Hairline', sans-serif;
    font-size: 6vw;
    text-align: center;
    color: black;
    padding-bottom: 30px;
    margin-bottom: 0;
    font-weight: 700;
}

body > div > div.w3-margin-top > h4{
    font-family: 'Libre Baskerville', serif;
    font-size: 5vw;
    font-weight: 100;
    text-align: center;
    color:#414141;
    margin: 10px 10px 300px 10px; 
}


/*<!-- START MENU******************************************************START MENU -->*/

div > div{
    display: flex;
    flex-wrap: wrap;  
    text-align: bottom;
    justify-content: space-around;
}

div > div > a{
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Bungee Hairline', sans-serif;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px purple; 
    height:140px;
    padding-top: 30px;
    text-decoration:none;
}

.ConnectivityTestBox {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    width: fit-content;
}

.ConnectivityTestBox > button {
    border: 1px solid Black;
    color: black;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    background-color: grey;
    font-size: xx-small;
    width: fit-content;
}

.connsuccess {
    background-color: greenyellow !important;
}

.connfail {
    background-color: red !important;
}

.ConnectivityTestBox > p {
    font-size: xx-small;
    padding: 0px;
    margin: 0px;
}

.PopupBox {
    position: absolute;
    background: #fff;
    z-index: 2;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.PopupBox > div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
}

.PopupBox > div > button > a {
    text-decoration: none;
    color: white;
}

.PopupBox > p {
    align-self: center;
}

.message_centre {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 2px solid #cc5ec8;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(235, 235, 235);
}

.message_centre > ul {
    list-style: none;
}

.message_centre > h4 {
    margin: 10px;
    font-family: 'Open Sans', 'sans-serif';
}

div > div.grid1{
    width:45%;
}
div > div.grid2{
    width:45%;
}
div > div.grid3{
 
    width:45%;
}
div > div.grid4{
 
    width:45%;
}
div > div.grid5{
 
    width:45%;
}
div > div.grid6{
 
    width:45%;
}
div > div.grid7{
 
    width:45%;
}

.buttonload {
    background-color: #dba43e !important; /* Green background */
    border: none !important; /* Remove borders */
    color: white !important; /* White text */
    padding: 12px 16px !important; /* Some padding */
    font-size: 16px !important; /* Set a font size */
  }

.GIFLoader {
    background-image: url("/img/DoubleRing.gif");
    width: 100%;
    height: 100%;
    min-height: 140px;
    min-width: 140px;
    background-repeat: no-repeat;
    background-position: center;
}

.BufferingLoader {
    background-image: url('/img/buffering.gif');
    /* width: 100%;
    height: 100%; */
    min-height: 140px;
    min-width: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.PNGloader {
    background-image: url("/img/339.gif");
    width: 100%;
    height: 100%;
    min-height: 140px;
    min-width: 140px;
    background-repeat: no-repeat;
    background-position: center;
}

.GIFLoaderContainer {
    background-color: white;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.GIFLoaderText {
    top: 30%;
    position: relative;
}

.LoadingBar {
    background-image: url("/img/7pla.gif");
    width: 100%;
    height: 100%;
    min-height: 140px;
    min-width: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.notificationsCentre--popup {
    position: fixed;
    background: url('/img/inbox.png');
    background-position: center;
    height: 10vh;
    width: 10vh;
    top: 0.5vh;
    left: 0.5vw;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 3px solid red;
    padding: 0;
    border-radius: 50%;
    transition: 1s;
}

.notificationsCentre--popup--small {
    position: fixed;
    background: url('/img/inbox.png');
    background-position: center;
    height: 5vh;
    width: 5vh;
    top: 0.2vh;
    left: 0.2vw;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid darkorange;
    padding: 0;
    border-radius: 50%;
    transition: 1s;
}

.notificationsCentre--popup > span > p {
    position: absolute;
    top: 0;
    margin: 0.3vh;
}

@media only screen and (max-width: 768px) {

    .notificationsCentre--popup {
        right: 0.5vw;
    }

    .notificationsCentre--popup > span {
        color: white;
        font-weight: bold;
        background: red;
        height: fit-content;
        width: fit-content;
        position: absolute;
        left: 5vh;
        padding: 1vh;
        border-radius: 50%;
        height: 2vh;
        width: 2vh;
        text-align: center;
        animation-name: newMessageAlert;
        animation-delay: 0s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        transition: 1s;
        opacity: 1;
    }
    .notificationsCentre--fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #c4e3e4;
        z-index: 2;
        align-items: flex-start;
        justify-content: stretch;
    }

    .notificationsCentre--fullscreen__dismiss {
        position: fixed;
        bottom: 2vh;
        /* width: 100%; */
        margin: 1vh;
        width: 96vw;
    }
    .notificationsCentre--fullscreen > .MessageCentre {
        margin: 4vh 1vh;
        /* border: 1px solid wheat; */
        /* background: white; */
        /* height: 70%; */
        padding: 2vh;
        font-size: 1.2rem;
        /* color: honeydew; */
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) {
    .notificationsCentre--popup > span > p {
        color: white;
        font-weight: bold;
        background: red;
        /* height: fit-content; */
        /* width: fit-content; */
        /* position: absolute; */
        left: 5vh;
        /* padding: 0.5vh; */
        border-radius: 50%;
        /* height: 1vh; */
        /* width: 1vh; */
        text-align: center;
        animation-name: newMessageAlert;
        animation-delay: 0s;
        animation-duration: 1s;
        animation-iteration-count: 1;
        transition: 1s;
        opacity: 1;
        font-size: 2vh;
        width: 3vh;
        /* place-self: center; */
        /* padding-left: 2vh; */
    }
    .notificationsCentre--fullscreen {
        width: 50vw;
        margin-left: 25vw;
        place-self: center;
        display: flex;
        flex-direction: column;
        background: var(--darkGrey);
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        color: white;
        position: fixed;
        bottom: 50%;
        border: var(--accentBlue) 1px solid;
        box-shadow: var(--customBoxShadow);
    }
    .notificationsCentre--fullscreen__close {
        right: 0;
        left: unset;
    }
    .notificationsCentre--fullscreen__dismiss {
        border: none;
        box-shadow: none;
        text-shadow: none;
        font-family: system-ui !important;
        background-color: var(--lightGrey);
        border: none;
        border-radius: 5px;
        transition: 1s;
        /* padding: 0; */
        cursor: pointer;
        color: white;
    }
    .notificationsCentre--fullscreen__dismiss:hover {
        background-color: var(--richGrey);
        color: wheat;
        transition: 0.3s;
        border: none;
    }
}

@keyframes newMessageAlert {

    0% {transform: rotate(0) scale(0)}
    15% {transform: rotate(30deg);}
    30% {transform: rotate(-30deg) scale(1.1);}
    45% {transform: rotate(30deg)}
    60% {transform: rotate(-30deg);}
    75% {transform: rotate(30deg);}
    90% {transform: rotate(0)  scale(1)}
}







#Go_Button_1 {
    background-image: url("/img/gr_pyr_noeye.png");
}
#Go_Button_2 {
    background-image: url("/img/pn_pyr_noeye.png");
}
#Go_Button_3 {
    background-image: url("/img/bl_pyr_noeye.png");
}
#Go_Button_4 {
    background-image: url("/img/pr_pyr_noeye.png");
   }
#Go_Button_5 {
    background-image: url("/img/gr_pyr_noeye.png");
}
/*
#Go_Button_6 {
    background-image: url("/img/plus_icon.png");
}*/
#Go_Button_7 {
    background-image: url("/img/yl_pyr_noeye.png");
}


#Go_Button_1:hover {
    background-image: url("/img/gr_pyr_eye.png");
}
#Go_Button_2:hover {
    background-image: url("/img/pn_pyr_eye.png");
}
#Go_Button_3:hover {
    background-image: url("/img/bl_pyr_eye.png");
}
#Go_Button_4:hover {
    background-image: url("/img/pr_pyr_eye.png");
}
#Go_Button_5:hover {
    background-image: url("/img/gr_pyr_eye.png");
}/*
#Go_Button_6:hover {
    background-image: url("/img/blue-error-danger-icon-25.png");
}*/

.admin_btn_admin {
    background-image: url("img/admin_imgs/command-centre.png");
}

#Go_Button_7:hover {
    background-image: url("/img/yl_pyr_eye.png");
}

.go_button {
    min-width: 100px;
    text-align: center;
}

/*<!-- LOGIN******************************************************LOGIN -->*/

#username, #password {
    width: 90%;
}

a.forgottenPasswordLink {
    font-size: small;
}

.securityPagePopup {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.securityPagePopup > span {
    margin-top: 10px;
}

.passwordResetForm > label, .passwordResetForm > input, .forgottenPasswordForm > input, .forgottenPasswordForm > label, .registration_form > input, .registration_form > label {
    width: 90% !important;
    margin: 10px !important;
    text-align: left !important;
    padding: 10px !important;
    font-weight: bold;
}

.passwordResetForm, .forgottenPasswordForm, .registration_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.passwordResetForm > div, .registration_form > div {
    color: red;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.login_page_form, .registration_form {
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .login_page_form, .registration_form {
        overflow-x: hidden;
    }
}

.login_page_form > form {
    width: 60%;
    max-width: 400px;
}

body > div.w3-margin-top > ul > li{
    font-family: 'Open Sans', sans-serif;
}

/*<!-- FOOTER******************************************************FOOTER -->*/

footer{
    background-color: #414141;
    color:#C355F5;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 10px;
    width:100%;
    min-width: 360px;
    padding: 10px 0 10px 0;
    margin-top: 50px;
    position: absolute;
}

#heightbarrier{
    height: 20px;
}

.hidden{
    display:none !important;
    height:0px !important;
}

footer > p{
margin:10px 0;
    }

footer > div > a, footer > div > a:visited, .bugreportlink, .bugreportlink:visited {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 2px 5px;
    margin: 0px;
    color: #C355F5;
}

footer > div {
    display: flex;
    justify-content: center;
}

footer > div > a, a:visited {
    margin: 0px 30px;
}

.spacer_footer{
    height:50px;
}

/*<!-- ADD NEW******************************************************ADD NEW -->*/

.errorPopupContentBoxSmall {
    flex-direction: column;
    padding: 15px;
    border: 2px solid purple;
    margin: 10px;
    border-radius: 20px;
  }

  .ErrorPage > span {
    color: red;
}

.ErrorPage {
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: fit-content; */
    justify-content: space-around;
}

.ErrorPage > p {
    width: 100%;
    text-align: center;
}

.EpisodesPickForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.EpisodesPickForm > div {
    width: 50%;
}

.EpisodesPickForm > label {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 10px 0px;
}

.EpisodesPickFormRowColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EpisodesPickTickboxesRow, .IMDBResultsTablePriorityCheckboxRow {
    display: flex;
    padding: 0px 10px;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 11px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (min-width: 768px) {
    .ResultsTable > table, .ResultsTable > div {
        background: #3f3f46ab;
    }

    .EpisodesPickTickboxesRow, .IMDBResultsTablePriorityCheckboxRow {
        display: flex;
        padding: 1vw !important;
        flex-grow: 1;
        justify-content: space-between !important;
        margin-top: 11px;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 768px !important;
        margin: 1vw !important;
    }

    .IMDBDataTable > tbody > tr > td:nth-child(1) {
        padding: 0 2vw;
    }
    
    .ResultsTable > table, .ResultsTable > div {
        width: clamp(400px, 90vw, 800px);
        border-radius: 15px;
        border: none;
        color: white;
        margin: 1vw;
        padding: 2vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ResultsTable {
    flex-direction: column;
}

label + input[type="checkbox"] {
    zoom: 2;
}

h2{
    text-align: center;
    font-family: 'Bungee', sans-serif;
    font-size: 1.6rem;
    margin: 0 auto;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    padding: 10px 0;
    background-color: #706e6e;
    text-shadow: 1px 1px 1px purple, 1px 1px 2px white;
    color: white;
    width:100vw;
    margin-left: 0;
}

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px purple;
    font-weight: 100;
    color: #393E46;
    margin: 0 auto;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    border-radius: 15px;
    padding: 5px 0;
}


.addNewContainer {
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.addNewContainer > h2 {
    margin-left: 0;
}

input[type=radio]{
margin: 10px 5px 10px 2px;
padding-bottom: 3px;
}

.formSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 600px;
}

.formSearch > h3 {
    width: 100%;
}

.formsearchRadioButton {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px purple;
    padding: 3px 3px;
    font-weight: 300;
    text-transform: uppercase;
    flex: 1 1 40%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: inline-flex;
    justify-content: center;
    border-left: #DADADA solid 2px;
    border-right: #DADADA solid 2px;
    border-radius: 20px;
    text-align: center;
    margin: 0.5vh 1vw;
    color: darkgrey;
    cursor: pointer;
}

.formsearchRadioButtonChecked {
    border: 1px solid rgba(195, 85, 245, 0.5);
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    /* border-right: 4px solid rgb(131 47 169 / 50%); */
    color: black;
    background: #fae7fb5e;
}


input[type=text], input[type=password], input[type=email], textarea, .formsearchFieldInput {
padding:12px 4px 10px 4px;
border-left: #DADADA solid 2px;
border-right: #DADADA solid 2px;
border-radius: 20px;
border-top: none;
border-bottom: none;
background-color: #F9F9F9;
width:80%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
text-align: center;
color: #414141;
font-size: 1rem;
}

.formsearchFieldInput, .formSearch__btn--submit {
    margin: 0.5vh 1vw;
    width: 100% !important;
}

.FormSearch--NoResults{
    margin: 10px;
    padding: 10px;
    border: 1px solid red
}

.FormSearch--NoResults > p > b {
    color: red;
}

input[type=text]:focus, input[type=password]:focus{
    outline: 1px solid rgba(195, 85, 245, 0.5);
}

table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #414141;
    font-size: 1rem;
    width:100vw;
    border-top: #DADADA solid 1px;
    border-bottom: #DADADA solid 1px;
    padding: 1vw;
}

td{
    padding:15px 0px;  
}

::placeholder {
    color:rgba(195, 85, 245, 0.3);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.posterList {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
}

.posterList > ul {
    list-style: none;
}

.posterList > h4 {
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .posterList > ul {
        list-style: none;
        display: flex;
        /* flex: 1 1 30%; */
        overflow-x: scroll;
    }
    
    .posterList > ul > li {
        flex: 1 1 20%;
        margin: 1vw;
    }
}


#get_imdb_button{
    font-family: "Bungee";
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    padding:10px 8px;
    border: white solid 2px;
    box-shadow:  1px 1px 1px purple,  2px 2px 2px pink;
    border-radius: 25px;
    background-color: rgba(50,224,196, 0.7);
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px purple,  2px 2px 2px pink;
}

#get_imdb_button:focus{
    outline: 1px solid rgba(195, 85, 245, 0.5);
}

div.spacer1{
    height: 50px;
}

div.spacer2{
    width: 100%;
}

/***************************************WISHLIST******************************************/

button, input[type=submit], .ErrorPage > a, .buttonStyle {
    display: block;
    font-family: "Bungee";
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    padding:10px 12px;
    border: white solid 2px;
    box-shadow:  1px 1px 1px purple,  2px 2px 2px pink;
    border-radius: 25px;
    background-color: rgba(50,224,196, 0.7);
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px purple,  2px 2px 2px pink;
    margin: 10px auto 10px auto;
    align-items: center;
    justify-content: center;
    width:80%;
}

.info_button:focus{
    outline: 1px solid rgba(195, 85, 245, 0.5);
}


#info_table{
    font-size: 1rem;
    transition: 1s ease;
}

#info_table > tbody > tr > td{
    border:1px rgba(66, 70, 70, 0.7);
    text-shadow: none;
    padding: 10px 0;
}

#listFilters_Div{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #414141;
    font-size: 1rem;
    text-transform: uppercase;
    margin:15px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    border: 1px grey solid;
    border-radius: 15px;
}

#listFilters_Div {
    width:auto;
    padding:10px 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listFilterTickboxDiv {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 47%;
    margin: 2px;
    flex-wrap: nowrap;
}

.listFilterTickboxDiv > input {
    margin: 0px 7px 0px 0px!important;
}

.SearchBox {
    margin: 10px;
}

.SearchBox > input {
    width: 100%;
    /* border: solid; */
    border: 1px solid;
    /* border-radius: 0; */
    box-shadow: 1px 1px 1px purple, 2px 2px 2px pink;
    /* text-shadow: 1px 1px 1px purple, 2px 2px 2px pink; */
}


/* .listFilterTickboxDiv > input[type="checkbox"] {
    align-self: flex-end;
} */

#wishlistdiv > div.row.span {
    max-width:100vw;
}

.dynamicContent > td {
    text-align: center;
    vertical-align: baseline;
}


#wishlisttablediv{
    width:100vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:0.8rem;
}

#wishlisttablediv > table > thead > tr > th{
    font-family: 'Open Sans', sans-serif;
    font-size:0.9rem;
    background-color: rgba(221, 227, 220, 0.4);
    padding:8px 0;
}
#wishlisttablediv > table{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:0.8rem;
    border:none;
    text-transform: uppercase;
}

#wishlisttablediv > table > tbody > tr:nth-child(odd) > td {
    background-color: #d8fffe;
}

#wishlisttablediv > div > input[type=text]{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:0.8rem;
}

.episodeStatusDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 16px;
    margin: 2px 0px;
}

.episodeStatusDiv > p {
    width: 50%;
    /* border-bottom: 1px solid black; */
    margin: 0px 0px;
}

.colhead_genre {
    max-width: 100px;
}

.colhead_mediaDetails > div > details {
    min-width: unset;
    min-height: unset;
    height: unset;
    overflow: unset;
    max-height: unset;
}



.colhead_mediaDetails > h4 {
    font-size: large;
}

.progressBar {
    height: 1.5rem;
    border: 1px solid #8a898a;
    position: relative;
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
    margin: 0.5rem;
    font-size: medium;
    padding: 5px 0px;
    box-shadow: 1px 1px black;
}

.progressBarSegment {
    height: 100%;
    position: absolute;
    top: 0rem;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.progressBarSegment > p {
    font-size: 9pt;
    margin: 0px;
    color: black;
    /* z-index: 2; */
}

.progressBarnew {
    background-color: aqua;
}

.progressBardownloading {
    background-color: rgb(238, 255, 0);
}

.progressBarcomplete {
    background-color: rgb(77, 255, 77);
}

.progressBarcopied {
    background-color: grey;
    color: white;
}

.progressBarfailed {
    background-color: red;
}

.progressBarpostponed {
    background-color: orange;
}

.progressBarerror {
    background-color: firebrick;
}

.colhead_status > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_submit {
    background-color: darkturquoise;
}

.btn_warning {
    background-color: orange;
}

details {
    margin: 15px 0px;
}

.wishListWidgetButtonRow > button {
    font-size: medium;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    transition: 1s;
    transform: scale(1);
}

.wishListWidgetButtonRowHorizontal > button {
    font-size: medium;
    padding: 10px;
    margin: 10px;
    width: 40%;
}

.wishListWidgetButtonRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wishListWidgetButtonRow > h4 {
    margin: 0px 0px 10px 0px;
    font-size: medium;
}

.wishListWidgetButtonRow > div > label {
    text-transform: none;
    margin: auto;
}

.wishListWidgetButtonRow > div > input[type="text"], .wishListWidgetButtonRow > div > input[type="text"]::placeholder {
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: small;
    text-transform: none;
}

.wishListWidgetButtonRowHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.optionsWidget__rangePickerForm > span, .wishListWidgetButtonRowHorizontal > p {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .OptionsWidget > button, .OptionsWidget > div > button {
        width: 90%;
    }
}


@media only screen and (max-width: 768px) {
.optionsWidget__rangePickerForm {
    background: white;
    border: 2px solid darkorange;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0px;
    width: 100%;
}


.OptionsWidget {
    margin: 30px 0px 0px 0px;
    border: 1px solid orange;
    padding: 10px 5px 20px;
    border-radius: 20px;
    background-color: beige;
    flex-direction: column;
    text-align: center;
}


.optionsWidgetHelpButton {
    position: absolute;
    right: 3vw;
    width: 10vw;
    height: 10vw;
    padding: 0;
    margin: 0;
    background: red;
    /* margin-top: 0vw; */
}
}
.helpString {
    text-transform: none;
    background: #ffe3af;
    border: 1px solid black;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 1vh;
    transition: 1s;
}

.optionsWidget__rangePickerForm > div > label {
    width: 100%;
}

.optionsWidget__rangePickerForm > div > label > input {
    width: 20vw;
    margin: 2px 10px;
    text-align: center;
}

.wishListWidgetContent > h4 {
    width: 100%;
}

.optionsWidget__rangePickerForm > div {
    width: 50%;
}

.invalidValue {
    border: 1px solid red;
    color: red;
}

.availabilityWidget {
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px 0px;
    padding: 10px 5px;
}

@media only screen and (max-width: 768px) {
    .availabilityWidget {
        margin: 10px 0px 0px 0px;
        border: 1px solid purple;
        background-color: rgb(187, 177, 253);
    }
}

.availabilityWidget-FullScreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}


/***************************************REPORT******************************************/

.issue-form {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:1rem;
}

.flex-column {
    flex-direction: column;
}

.issue-form-nobackground {
    background-color: white;
    border: none;
}

.invalid_input_value {
    border: 1px solid red;
}


.issue-form > div:nth-child(3){
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width:90%;
    border: grey 1px solid;
    border-radius: 0.5em;
    padding:15px 5px;
    font-size:1.2rem;
    background-color: rgba(221, 227, 220, 0.4);
    margin: 5px;
}

.issue-form {
    width:90%;
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;
    border: grey 1px solid;
    border-radius: 0.5em;
    padding:15px 5px;
    font-size:1.2rem;
    background-color: rgba(221, 227, 220, 0.4);
    margin: 5px;
}

#issue_series{
    border: grey 1px solid;
    border-radius: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size:1rem;
    text-shadow: 1px 1px 1px rgba(246, 137, 250, 0.4);
    text-align: center;
    margin-block-end: 0.5em;
    background-color: rgba(221, 227, 220, 0.4);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    padding: .6em 1.4em .5em .8em;
}

.issue-form > h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #414141;
    font-size: 1.5rem;
}

.issue-form > div.issue-form > div > p{

    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    color:#414141;
    font-size: 1rem;
    text-shadow: 1px 1px 1px rgba(246, 137, 250, 0.4);

}

.issueform_span {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.issueform_span{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="checkbox" i] {
margin:5px;
}
#other_issue_div > div > h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:1rem;
    margin-right: 10px;
}

#other_issue_div > div{
width:90%;
}
#other_issue_text{
    min-height: 150px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

#issue_series_specified {
    font-size: larger;
}

.impose_100percent_width {
    min-width: 100% !important;
    max-width: 100% !important;
}

.impose_80percent_width {
    min-width: 80% !important;
    max-width: 80% !important;
}



.report_part_2 {
    display: flex;
    flex-direction: row;
}

/**********************************LOGIN FORM***********************************************/

.login_form_container {
    display: grid;
}

.registration_form_field_div label,
.login_form_uname_div label, .login_form_psw_div label, .login_form_rememberme_div label  {
    text-align: center;
    font-family: 'bungee hairline', sans-serif;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px purple;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: 100;
    color: #393E46;
}

.registration_form_field_div > input {
    width: 90%;
    margin: 10px 0px;
    text-align: left;
    padding: 10px 15px;
    font-size: larger;
}

.registration_form_field_div > input[type=submit] {
    text-align: center;
}

.registration_form {
    width: 80%;
}

.registerResponseMessage {
    padding: 1vw;
    width: 100vw;
    text-align: center;
}

.login_form_psw_div > p {
    margin-left: 30px;
}

.login_form_rememberme_div input[type=checkbox] {
    height: 20px;
    width: 20px;
}

.login_form_buttons_row {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.login_form_buttons_row > button, .login_form_buttons_row > input[type=submit] {
    width: 40%;
    margin: 0px;
}

/* .flash {
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: 1;
  
    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 1;
  
    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: 1;
  } */
  
  @keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-webkit-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-moz-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }
  
  @-ms-keyframes flash {
      0% { background-color: transparent; }
      50% { background-color: #fbf8b2; }
      100% { background-color: transparent; }
  }

.ErrorPage > a {
    height: unset;
}

/** CONTACT US **/

.about_div {
    display: flex;
    flex-direction: column;
}

.about_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_row > p {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.about_row > p, .about_row > ul > li {
    padding: 1vw;
}

@media only screen and (min-width: 768px) {
    .about_row, .about_row > p, .about_row > ul > li {
        color: white;
    }
}

#contactUs_div {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.stretch_content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;
    align-self: center;
    min-width: 75%;
}

.contactUs_row label {
    margin: 12px 0px 7px 5px;
}

.contactUs_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactUs_row > input, .contactUs_row > textarea {
    padding: 10px;
    text-align: start;
}

.contactUs_row > .submit_button {
    width: 83%;
    margin: 10px 0px;
}

.about_row > ul {
    display: contents;
    margin-left: 0px;
    padding-left: 10%;
    font-size: small;
}

.about_row > p {
    margin: 10px 45px;
}

.moreinfo {
    display: none;
}

.morelink {
    margin: 0px;
    font-size: 12px;
    font-family: initial;
    color: black;
    background-color: white;
    border: none;
    box-shadow: none;
}

.purplelink, .purplelink:visited {
    color: #940dd5;
    text-decoration: none;
    font-weight: bold;
}

.quirinuslogo {
    height: 35px;
    position: absolute;
    width: 35px;
    margin: -9px 0px 0px -35px;
}

.row {
    flex-direction: column;
}

.forbiddenpage_button {
    width: 340px;
}

.changelog_entry {
    margin-left: 30%;
    flex-direction: column;
    text-align: left;
}

.flexdc {
    display: flex;
    flex-direction: column;
}

.flexdr {
    display: flex;
    flex-direction: row;
}

/**********************************ABOUT***********************************************/

div.about_div{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:1rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}




@media only screen and (min-width: 768px) {
    #wishlistTableBody {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: stretch;
        flex-direction: row;
    }
    
    #wishlistTableBody > tr {
        flex: 1 1 30%;
        background-color: var(--transparentLightGrey);
        margin: 1vw;
        color: white;
        border-radius: 15px;
    transition: 0.7s
    }
    
    #wishlistTableBody > tr:hover {
        background-color: var(--richGrey);
        transition: 0.4s;
    }
    
    #wishlisttablediv > table > tbody > tr:nth-child(odd) > td {
        background-color: unset;
    }
    
    #wishlistTableBody > tr > td {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 95%;
        /* padding: 1vw; */
    }
    
    #wishlistTableBody > tr > td > div > div {
        width: 100%;
        margin: 0;
    }
    
    #wishlistTableBody > tr > td > div, #wishlistTableBody > tr > td > h4, #wishlistTableBody > tr > td > span {
        width: 90%;
    }
}


/**********************************MEDIA QUERIES***********************************************/

@media only screen and (min-width: 200px) {
    .colhead_id, .colhead_genre, .colhead_year, .colhead_poster {
        display: none;
      }
    }

/* **************************SM 576 - 767 */

@media only screen and (min-width: 768px) {
    nav > a{

        font-size: 17px;
    }
    .banner > h1{
        font-size: 3rem;
        padding: 5px;
        margin-top:140px;
    }
    
    div > div > a{
        background-size: 100px auto;
        font-size: 2.2rem;
        height:140px;
        padding-top: 30px;
    }

    .banner {
        background-size: 70% auto;
        height: 400px;
    }
    #get_imdb_button{
        width: auto;
        padding:10px 15px;
    }
    div.radios{
        justify-content: center;
        
    }
    #left{
        width: auto;
        padding: 10px;
        margin-right: 10px;
    }
    #right{
        width: auto;
        padding: 10px;
        margin-left: 10px;
    }
    h2{
        font-size:2.5rem;
    }
    h3{
        font-size:2rem;
    }
    table{
        font-size: 1.2rem;
    }
    button, input[type=submit] {
    width: auto;
    padding:10px 15px;
    }

    #listFilters_Div {
        width:auto;
        padding:10px 15px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .listFilterTickboxDiv {
        /* border: 1px solid aqua; */
        /* margin-left: -0.5px; */
        flex-direction: column;
        align-items: center !important;
    }

    .listFilterTickboxDiv > label {
        margin: 1vw;
    }

    #wishlisttablediv > table {
    font-size: 1rem;
    }
    body{
        min-height: 100vh;
    }
    .spacer_footer{
        height:230px;
    }
    .message_centre {
        margin: 10px 50px;
    }
    .colhead_id, .colhead_genre, .colhead_year, .colhead_poster {
        display: none;
      }
}

/***************************************** MD 768 - 991*/

@media only screen and (min-width: 768px) {
    table{
        font-size: 1rem;
    }
    body > div.w3-margin-top > table{
        width: 70%;
        margin: 0 auto;
    }
    body > div.w3-margin-top > table > tbody > tr > td > label{
        font-size: 1.3rem;
    }
    .message_centre {
        margin: 10px 175px;
    }
    .colhead_id, .colhead_genre, .colhead_year, .colhead_poster {
        display: none;
      }
}

/* ****************************************************************L 992 - 1199 */

@media only screen and (min-width: 992px) {

    .banner > h1{
        font-size: 3.5rem;
        padding: 40px 5px 40px 5px;
        margin:20vh auto 5vh auto;
        width: 60%;
    }
    
    .banner {
        background-size: auto 100%;
        width:100%;
        height: 60vh;
        background-position: left;
        margin-left: 5vw;
    }

    body > div.w3-margin-top > div.grid_main > div.grid1, body > div.w3-margin-top > div.grid_main > div.grid2, body > div.w3-margin-top > div.grid_main > div.grid3, body > div.w3-margin-top > div.grid_main > div.grid4, body > div.w3-margin-top > div.grid_main > div.grid7{
        width:18%;
    }
   

    .issue-form{
        margin: 5px auto;
    }
    .spacer_footer{
        height:10px;
    }
    div > div > div > p{
        max-width:70%;
        margin: 5px auto;
    }
    .message_centre {
        margin: 10px 325px;
        padding: 10px 0px;
    }
    .colhead_id, .colhead_genre, .colhead_year, .colhead_poster {
        display: table-cell;
      }
}

/* ******************************************************************************XL 1200 */

/**
@media only screen and (min-width: 1100px) {

    .banner > h1{
        font-size: 6rem;
        padding: 40px 5px 40px 5px;
        margin:20vh auto 5vh auto;
        width: 60%;
    }
    
    .banner {
        background-size: auto 100%;
        width:100%;
        height: 75vh;
        background-position: left;
        margin-left: 0;
    }
    div > div > a{
        background-size: 100px auto;
        font-size: 2.8rem;
        height:160px;
    }
    
    body > div.w3-margin-top > table > tbody > tr > td:nth-child(odd){
        text-align: right;
    }
    .message_centre {
        margin: 10px 400px;
        padding: 15px 0px;
    }
    .colhead_id, .colhead_genre, .colhead_year, .colhead_poster {
        display: table-cell;
      }
}**/



.adminNavbarQuirinusLogo {
    background-image: url('/img/QuirinusTech.png');

  }

  .adminNavButton--wishlist {
    background-image: url('/img/admin_imgs/wishlist.png');
  }
  
  .adminNavButton--msgCentre {
    background-image: url('/img/admin_imgs/msg_centre.png');
  }
  
  .adminNavButton--workflow {
    background-image: url('/img/admin_imgs/update.png');
  }
  
  .adminNavButton--userManager {
    background-image: url('/img/admin_imgs/manual_create.png');
    padding-top: 5vh;
  }

  summary {
    cursor: pointer;
    /* list-style: none; */
    background: darkorchid;
    box-shadow: 1px 1px 1px purple, 2px 2px 2px pink;
    text-shadow: 1px 1px 1px purple, 2px 2px 2px pink;
    /* display: block; */
    font-family: "Bungee";
    font-weight: 100;
    text-align: center;
    border: white solid 2px;
    color: white;
    text-transform: uppercase;
    margin: 0px auto 10px auto;
    padding: 5px;
  }
  
  details[open] {
    min-height: fit-content;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 2;
    padding-top: 0;
    border-radius: 10px;
padding-bottom: 20px;
  }

  @media only screen and (max-width: 768px) {

    details[open] {

        box-shadow: 1px 1px 1px purple, 2px 2px 2px pink;
        background: #f4dcff;
        background-color: rgb(235, 235, 235);
      }

  details[open] > summary {
    background-color: #d781ff;
    border: 2px solid darkgrey;
  }
  
  details > div > details > summary {
    background: #641b88;
    width: 80%;
  }
}

details > ul {
    list-style: none;
    margin: auto;
    padding: 2px;
  }
  
  
  summary > h4 {
    align-self: center;
    text-align: center;
    font-size: larger;
    padding: 0;
    margin: 10px;
  }


@media only screen and (min-width: 768px) { 

    details, details > details {
        background: #555574;
        color: white;
        box-shadow: none;
        max-height: unset;
    }

    details > details, details > div {
        width: 90%;
        margin: 0 5%;
    }
    

    .details[open] {
        background: #2f2f35;
        border: 1px solid wheat;
        box-shadow: none;
        max-height: unset;
      }
    
    summary:hover, details[open] > summary {
        background: #2f2f35 !important;
        border: 1px solid wheat;
        box-shadow: none;
        max-height: unset;
        color: wheat;
        transition: 0.3s;
    }

      summary {
        border: none;
        box-shadow: none;
        text-shadow: none;
        font-family: system-ui !important;
        background-color: #6c6c73;
        border-radius: 5px;
        transition: 1s;
        /* padding: 0; */
        cursor: pointer;
        color: white;
        font-weight: bold;

      }


}